@model SpryStorePresentationLayer.Areas.Member.Models.UserEditViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Adınız</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Soyadınız</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Mail Adresi</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
    <label>Telefon No</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>