@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Kullanıcı Listesi</h1>

<table class=" table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Detaylar</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Roller</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td><img src="@x.ImageUrl" style="width:50px; height:50px; border-radius:50%; text-align:center;" /></td>
            <td>@x.Name</td>
            <td>@x.Surname</td>
            <td>@x.City</td>
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/User/AssignRole/@x.Id" class="btn btn-outline-warning">Roller</a></td>
        </tr>
    }

</table>