<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Bize Ulaşın</h4>
                    <h2>Bize ulaşmak için formu doldurmanız yeterli</h2>
                </div>
            </div>
        </div>
    </div>
</div>