@model MailRequestViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Mail gönderme sayfası</h1>

<form method="post">
    <label>Alıcı Mail Adresi</label>
    <input type="text" asp-for="ReceiverMail" class="form-control" />
    <br />
    <label>Konu</label>
    <input type="text" asp-for="Subject" class="form-control" />
    <br />
    <label>Mesajınız</label>
    <input type="text" asp-for="Body" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Gönder</button>
</form>