@model List<Product>
@{
    ViewData["Title"] = "GetLast4Products";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h1>Son Eklenen Ürünler</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>


    </tr>
    @foreach (var x in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@x.ProductName</td>
            <td>@x.ProductPrice</td>
        </tr>
    }
</table>
