@model List<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ProductID</td>
            <td>@x.ProductName</td>
            <td>@x.ProductPrice $</td>
            <td>@x.Category.CategoryName</td>
            <td><a href="/Product/DeleteProduct/@x.ProductID" class="btn btn-outline-warning">Sil</a></td>
            <td><a href="/Product/UpdateProduct/@x.ProductID" class="btn btn-outline-primary">Güncelle</a></td>
            <td><a href="#" class="btn btn-outline-primary">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Product/AddProduct" class="btn btn-outline-success">Yeni Ürün Ekle</a>