<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Hakkımızda</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/CatalogTemplate/assets/images/feature-image.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Vizyonumuz ve Misyonumuz</h4>
                    <p>
                        Alakalı ve kaliteli içeriklerle hem potansiyel müşteri kitlenizi yaratmanıza yardımcı oluyor, hem de arama motorlarında sıralama elde etmenizi sağlıyoruz. Günümüzde dijitalde var olmanın ne kadar önemli olduğunun farkındayız.

                        Bir marka ne kadar güçlü ve kaliteli içerikler üretebiliyorsa, o kadar ön plana çıkma şansı elde ediyor.

                        İşte bu noktada İçerik Mentör olarak markanızın dijitaldeki içeriklerini planlamak istiyoruz. SEO kuralları ile içerik kalitesini birleştirip, sektör özelinde kaliteli işler çıkarmak bizim mottomuz. Her konuda araştırıyor, işinize özel anahtar kelime araştırması yaparak içeriklerimizi oluşturabiliyoruz.

                        İçeriklerimizi size sunmaktan heyecan duyuyoruz. Herhangi bir sorunuz varsa, lütfen bizimle iletişime geçmekten çekinmeyin.
                    </p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>