
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Catalog/Views/Layout/_CatalogLayout.cshtml";
}

@await Component.InvokeAsync("ContactHeader")
@await Component.InvokeAsync("ContactMapLocation")

<div class="send-message">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("SendMessage")
            
        </div>
    </div>
</div>
